@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    background: #081616;
    color: #ffec8c;
}

h1, h3 {
    font-family: 'EB Garamond', serif;
}

.planner-page {
    background: #0a2c2d;
}

th {
    color: #976e3a;
}

td {
    color: #fefa7c
}

td input {
    width: 30px;
}

#character-name {
    width: 160px;
}